#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

#### Reading the dataset

In [2]:
df = pd.read_csv('imdb.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

#### Deleting unnecessary columns

In [3]:
del df['Poster_Link']
del df["Released_Year"]
del df['Certificate']
del df['Runtime']
del df['IMDB_Rating']
del df['Meta_score']
del df['Director']
del df['Star1']
del df['Star2']
del df['Star3']
del df['Star4']
del df['No_of_Votes']
del df['Gross']
del df['Overview']
df.head()

               Series_Title                 Genre
0  The Shawshank Redemption                 Drama
1             The Godfather          Crime, Drama
2           The Dark Knight  Action, Crime, Drama
3    The Godfather: Part II          Crime, Drama
4              12 Angry Men          Crime, Drama

#### Finding all the types of genre

In [4]:
genre = []
for i in df['Genre']:
    j = i.split(',')
    for k in j:
        genre.append(k.strip())
genre = list(set(genre))
print(genre)

['Romance', 'Horror', 'Musical', 'Crime', 'Comedy', 'Biography', 'War', 'Animation', 'Film-Noir', 'Sport', 'Adventure', 'Western', 'Family', 'Drama', 'Sci-Fi', 'Music', 'Mystery', 'History', 'Fantasy', 'Thriller', 'Action']

#### One Hot Conversion

In [5]:
one_hot = []
for i in df['Genre']:
    gen = [j.strip() for j in i.split(',')]
    enc = [0 for i in genre]
    for i in gen: 
        enc[genre.index(i)] = 1
    one_hot.append(enc)

#### One Hot Conversion verification

In [6]:
for i in range(len(df['Genre'])):
    if(one_hot[i].count(1) != len(df['Genre'][i].split(','))):
        print("Problem")

#### Adding the One Hot Conversion into the DataFrame

In [7]:
one_hot = np.array(one_hot)
for i in range(len(genre)):
    df[genre[i]] = one_hot[:,i]
df

,Series_Title,Genre,Romance,Horror,Musical,Crime,Comedy,Biography,War,Animation,...,Western,Family,Drama,Sci-Fi,Music,Mystery,History,Fantasy,Thriller,Action
0,The Shawshank Redemption,Drama,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,The Godfather,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,The Dark Knight,"Action, Crime, Drama",0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,The Godfather: Part II,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12 Angry Men,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
996,Giant,"Drama, Western",0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
997,From Here to Eternity,"Drama, Romance, War",1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
998,Lifeboat,"Drama, War",0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
999,The 39 Steps,"Crime, Mystery, Thriller",0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

#### Assuming the user input

In [8]:
user = df[df['Series_Title'] == 'Lifeboat'].values[0][2:]

#### Recommending similar movies based on exact Genre

In [9]:
for i in df.values:
    temp = i[2:]
    if(list(user-temp).count(0) == 21):
        print(i[0])

Saving Private Ryan
Paths of Glory
Full Metal Jacket
Mandariinid
Judgment at Nuremberg
Platoon
The Deer Hunter
La battaglia di Algeri
Ivanovo detstvo
La Grande Illusion
Au revoir les enfants
All Quiet on the Western Front
Beasts of No Nation
The Thin Red Line
Lifeboat

## Recommending Movies based on Similar Genre
### Assuming user input:

In [10]:
user = df[df['Series_Title'] == 'Lifeboat'].values[0][2:]
print(user)

[0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0]

### Creating a function which is used to find the modulus sum

In [11]:
def modulus_sum(lst):
    s=0
    for i in lst:
        if(i == 1 or i == -1):
            s+=1;
    return s

### Creating a relation column in the dataframe
##### Lower the value of relation, higher the movie is related to the movie selected by the user

In [12]:
rel = []
for i in df.values:
    rel.append(modulus_sum(i[2:]-user))
df['Relation'] = rel
df.head()

,Series_Title,Genre,Romance,Horror,Musical,Crime,Comedy,Biography,War,Animation,...,Family,Drama,Sci-Fi,Music,Mystery,History,Fantasy,Thriller,Action,Relation
0,The Shawshank Redemption,Drama,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,The Godfather,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
2,The Dark Knight,"Action, Crime, Drama",0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,3
3,The Godfather: Part II,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
4,12 Angry Men,"Crime, Drama",0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2

#### Top 25 recommended movies

In [13]:
df_movies = df.sort_values(by = 'Relation').head(25)
for i in df_movies['Series_Title']:
    print(i)

La Grande Illusion
Mandariinid
Beasts of No Nation
Judgment at Nuremberg
Paths of Glory
The Thin Red Line
Platoon
The Deer Hunter
La battaglia di Algeri
Ivanovo detstvo
Au revoir les enfants
Saving Private Ryan
Full Metal Jacket
Lifeboat
All Quiet on the Western Front
Stalag 17
Midnight Cowboy
Kis Uykusu
Kramer vs. Kramer
The Color Purple
Gran Torino
Taegukgi hwinalrimyeo
Trainspotting
Breaking the Waves
Underground